<div>
    <header>
        <img class="logo" src="/images/logo.png" alt="logo">
        <h3 class="brand-name">Money Matters</h3>
          <nav>
            <ul class="nav-links">
              <li><a href="/" class="home-btn">Home</a></li>
              <li><button class="logout-a">Logout</button></li>
            </ul>
          </nav>
          <a class="cta" href="/feedback"><button class="cta-btn" type="button" name="button">FeedBack</button></a>
    </header>
</div>

