<nav>
    <div class="container">
      <div class="brand">
        <div class="logo"></div>
        <h3 class="brand-name">Money <span>Matters</span></h3>
      </div>
      <div class="menu">
        <h2 class="menu-items"></h2><a class="menu-items-a" href="/income">Dashboard</a></h2>
        <h2 class="menu-items"></h2><a class="menu-items-a" href="/feedback">Feedback</a></h2>
      </div>
    </div>
  </nav>