<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="feedback.css" />
    <link rel="icon" href="/images/logo-favi.png" type="image/x-icon">
    <title>Feedback</title>
</head>
<body>
    <div class="main">
        <div class="line"></div>
        <h1>FeedBack</h1>

        <form class="contact-form" action="/feedback" method="POST">
            <input class="contact-text name" id="name" type="text" placeholder="Your Name" name="username">
            <input class="contact-text email" type="text" placeholder="Email" name="usermail">
            <textarea class="contact-text" placeholder="Write To Us" name="msg"></textarea>
            <!-- <input type="text" name="msg"> -->
            <input type="submit" class="contact-from-btn" value="Submit">
        </form>
    </div>

</body>
</html>